In [2]:
list1 = []

In [3]:
list1 = ['Edhec', 'Business School', 393, 'Nice']

In [4]:
print (list1[0])

Edhec

In [8]:
list1.append('France')

In [10]:
del(list1[2])

In [11]:
list1[1:3]

['Business School', 'Nice']

In [12]:
m = [[1,4,5], [3,2,7]]

In [13]:
m[0][0]

1

In [14]:
m[1][2]

7

In [15]:
tup1 = ('Edhec', 'Business School', 393, 'Nice')

In [16]:
dict = {'Name': 'Dante', 'Age': 24, 'Nationality': 'French'}

In [17]:
dict['Name']

'Dante'

In [18]:
dict['Age']

24

In [19]:
dict['Age'] = 25

In [21]:
print(dict)

{'Name': 'Dante', 'Age': 25, 'Nationality': 'French'}

In [22]:
words = ['cat', 'monkey', 'hippopotamus']

In [23]:
for i in range(0,4):
    print (i, i**2)

0 0
1 1
2 4
3 9

In [24]:
f = lambda x : x * x

In [26]:
print(f(3))

9

In [31]:
list1 = []
for char in 'EDHEC':
    list1.append(char)
print(list1)

['E', 'D', 'H', 'E', 'C']

In [33]:
list2 = [char for char in 'EDHEC']
print(list2)

['E', 'D', 'H', 'E', 'C']

In [35]:
list3 = [x**2 for x in range(0,11)]
print(list3)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
f = open(,'r')
lines = f.readlines()
f.close()

In [ ]:
with open(filename, 'r') as f:
    lines = f.readlines()