# My first notebook

## Heading 2

### Heading3

In [ ]:
print("hello EDHEC")

In [ ]:
x = 5.44442

In [ ]:
x

In [ ]:
print(x)

In [ ]:
int(x)

In [ ]:
print("hello" + str(x))

In [ ]:
print("hello " + str(x) + " EDHEC")

In [ ]:
from random import randint

board = []

for x in range(5):
  board.append(["O"] * 5)

def print_board(board):
  for row in board:
    print (" ".join(row))

print_board(board)

def random_row(board):
  return randint(0, len(board) - 1)

def random_col(board):
  return randint(0, len(board[0]) - 1)

ship_row = random_row(board)
ship_col = random_col(board)
print (ship_row)
print (ship_col)

In [ ]:
y = 3.22

In [ ]:
x*y

In [ ]:
type(x
)

In [ ]:
x = "EDHEC"

In [ ]:
type(x)

$e = mc2$

$E=mc^2$

In [ ]:
x= 1

In [ ]:
type(x)

In [ ]:
## it's an integer

In [ ]:
x = 1.0

In [ ]:
x = 3.5

In [ ]:
exp(x)

In [ ]:
from math import *

In [ ]:
exp(x)

In [ ]:
exit()

In [ ]:
from math import exp

In [ ]:
x= 3.5

In [ ]:
y = exp(x)

In [ ]:
from math import log

In [ ]:
log(y)

In [ ]:
import numpy as np

In [ ]:
exit()

In [18]:
import numpy as np
numElements = 10000
rndArray = np.random.rand(numElements)
print (rndArray)
x = []
%timeit for r in rndArray: x.append(np.exp(r))

[0.45809406 0.77269912 0.6930506  ... 0.86134975 0.39222883 0.42279474]
29.9 ms ± 2.17 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [36]:
import numpy as np
from math import exp
numElements = 10000
rndArray = np.random.rand(numElements)
print (rndArray)
x = []
%timeit for r in rndArray: x.append(exp(r))

[0.71333782 0.29031874 0.62023839 ... 0.51275656 0.31980689 0.343251  ]
7.11 ms ± 1.26 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [26]:
from numba import jit
@jit
def f3(rv):#initialize array
    x = []
    for r in rv:#loop any vector
        x.append(exp(r))#here we use exponential as from math
    return x

%timeit x=f3(rndArray) #this is for speed count

694 µs ± 66.1 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [37]:
from numba import jit
def basicSort1(x):
    n = len(x)
    ordered = False
    
    while ordered == False:
        ordered = True
        
        for i in range(0,n-1):
            if x[i+1] < x[i]:
                a = x[i]
                x[i]= x[i+1]
                x[i+1] = a 
                ordered = False
    return x

In [38]:
print (basicSort1(rndArray))

[4.02982811e-05 4.27643714e-04 4.36659424e-04 ... 9.99662907e-01
 9.99740414e-01 9.99751250e-01]

In [39]:
%timeit basicSort1(rndArray)

5.27 ms ± 279 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [48]:
import pandas as pd
df = pd.DataFrame([1,3,5,7], columns = ['odd'],index = ['a','b','c','d'])
df.index
print(df)

   odd
a    1
b    3
c    5
d    7

In [49]:
df["even"] = [1,2,4,6]
print(df)

   odd  even
a    1     1
b    3     2
c    5     4
d    7     6

In [69]:
 opt = pd.read_csv('./GermanDataClean.csv')

In [70]:
opt.shape

(1000, 21)

In [71]:
opt.info

<bound method DataFrame.info of      Default  Account Balance  Duration of Credit (month)  \
0          1                1                          18
1          1                1                           9
2          1                2                          12
3          1                1                          12
4          1                1                          12
5          1                1                          10
6          1                1                           8
7          1                1                           6
8          1                4                          18
9          1                2                          24
10         1                1                          11
11         1                1                          30
12         1                1                           6
13         1                2                          48
14         1                1                          18
15         1                1                           6
16         1                1                          11
17         1                2                          18
18         1                2                          36
19         1                4                          11
20         1                1                           6
21         1                2                          12
22         0                2                          36
23         1                2                          12
24         1                1                           6
25         1                2                          11
26         1                1                          12
27         1                2                           9
28         1                4                          15
29         1                3                          42
..       ...              ...                         ...
970        0                4                          48
971        0                2                          27
972        0                3                          18
973        0                1                          45
974        0                1                           6
975        0                1                          30
976        0                2                          48
977        0                1                           6
978        0                2                          12
979        0                1                          12
980        0                2                          24
981        0                4                          18
982        0                2                          48
983        0                1                          18
984        0                1                          48
985        0                4                          12
986        0                1                          14
987        0                1                          12
988        0                1                          18
989        0                2                          24
990        0                1                          18
991        0                2                          24
992        0                1                          18
993        0                1                          18
994        0                1                          12
995        0                1                          24
996        0                1                          24
997        0                4                          21
998        0                2                          12
999        0                1                          30

     Payment Status of Previous Credit  Purpose  Credit Amount  \
0                                    4        2           1049
1                                    4        0           2799
2                                    2        9            841
3                                    4        0           2122
4                                    4        0           2171
5                                    4        0           2241
6                                    4        0           3398
7                                    4        0           1361
8                                    4        3           1098
9                                    2        3           3758
10                                   4        0           3905
11                                   4        1           6187
12                                   4        3           1957
13                                   3       10           7582
14                                   2        3           1936
15                                   2        3           2647
16                                   4        0           3939
17                                   2        3           3213
18                                   4        3           2337
19                                   4        0           7228
20                                   4        0           3676
21                                   4        0           3124
22                                   2        5           2384
23                                   4        4           1424
24                                   4        0           4716
25                                   3        3           4771
26                                   2        2            652
27                                   4        3           1154
28                                   2        0           3556
29                                   4        1           4796
..                                 ...      ...            ...
970                                  2        9           4844
971                                  0        9           8318
972                                  2        3           2100
973                                  0        9          11816
974                                  2        6            448
975                                  2        5          11998
976                                  0       10          18424
977                                  2        0          14896
978                                  2        2           2762
979                                  2        1           3386
980                                  2        3           2039
981                                  3        9           2169
982                                  4        2           5096
983                                  2        3           1882
984                                  2        3           6999
985                                  4        9           2292
986                                  2        0           8978
987                                  2        3            674
988                                  2        0            976
989                                  2        0           2718
990                                  2        6            750
991                                  2        1          12579
992                                  2        1           7511
993                                  4        0           3966
994                                  0        3           6199
995                                  2        3           1987
996                                  2        0           2303
997                                  4        0          12680
998                                  2        3           6468
999                                  2        2           6350

     Value Savings/Stocks  Length of current employment  Instalment per cent  \
0                       1                             2                    4
1                       1                             3                    2
2                       2                             4                    2
3                       1                             3                    3
4                       1                             3                    4
5                       1                             2                    1
6                       1                             4                    1
7                       1                             2                    2
8                       1                             1                    4
9                       3                             1                    1
10                      1                             3                    2
11                      2                             4                    1
12                      1                             4                    1
13                      2                             1                    2
14                      5                             4                    2
15                      3                             3                    2
16                      1                             3                    1
17                      3                             2                    1
18                      1                             5                    4
19                      1                             3                    1
20                      1                             3                    1
21                      1                             2                    1
22                      1                             2                    4
23                      1                             4                    4
24                      5                             2                    1
25                      1                             4                    2
26                      1                             5                    4
27                      1                             5                    2
28                      5                             3                    3
29                      1                             5                    4
..                    ...                           ...                  ...
970                     1                             1                    3
971                     1                             5                    2
972                     1                             3                    4
973                     1                             5                    2
974                     1                             2                    4
975                     1                             2                    1
976                     1                             3                    1
977                     1                             5                    1
978                     5                             5                    1
979                     1                             5                    3
980                     1                             2                    1
981                     1                             3                    4
982                     1                             3                    2
983                     1                             3                    4
984                     1                             4                    1
985                     1                             1                    4
986                     1                             5                    1
987                     2                             4                    4
988                     1                             2                    1
989                     1                             3                    3
990                     1                             1                    4
991                     1                             5                    4
992                     5                             5                    1
993                     1                             5                    1
994                     1                             3                    4
995                     1                             3                    2
996                     1                             5                    4
997                     5                             5                    4
998                     5                             1                    2
999                     5                             5                    4

     Sex & Marital Status       ...        Duration in Current address  \
0                       2       ...                                  4
1                       3       ...                                  2
2                       2       ...                                  4
3                       3       ...                                  2
4                       3       ...                                  4
5                       3       ...                                  3
6                       3       ...                                  4
7                       3       ...                                  4
8                       2       ...                                  4
9                       2       ...                                  4
10                      3       ...                                  2
11                      4       ...                                  4
12                      2       ...                                  4
13                      3       ...                                  4
14                      4       ...                                  4
15                      3       ...                                  3
16                      3       ...                                  2
17                      4       ...                                  3
18                      3       ...                                  4
19                      3       ...                                  4
20                      3       ...                                  3
21                      3       ...                                  3
22                      3       ...                                  1
23                      3       ...                                  3
24                      3       ...                                  3
25                      3       ...                                  4
26                      2       ...                                  4
27                      3       ...                                  4
28                      3       ...                                  2
29                      3       ...                                  4
..                    ...       ...                                ...
970                     3       ...                                  2
971                     2       ...                                  4
972                     3       ...                                  2
973                     3       ...                                  4
974                     2       ...                                  4
975                     1       ...                                  1
976                     2       ...                                  2
977                     3       ...                                  4
978                     2       ...                                  2
979                     3       ...                                  4
980                     4       ...                                  1
981                     4       ...                                  2
982                     2       ...                                  3
983                     2       ...                                  4
984                     4       ...                                  1
985                     3       ...                                  2
986                     1       ...                                  4
987                     4       ...                                  1
988                     2       ...                                  2
989                     2       ...                                  4
990                     2       ...                                  1
991                     2       ...                                  2
992                     3       ...                                  4
993                     2       ...                                  4
994                     3       ...                                  2
995                     3       ...                                  4
996                     3       ...                                  1
997                     3       ...                                  4
998                     3       ...                                  1
999                     3       ...                                  4

     Most valuable available asset  Age (years)  Concurrent Credits  \
0                                2           21                   3
1                                1           36                   3
2                                1           23                   3
3                                1           39                   3
4                                2           38                   1
5                                1           48                   3
6                                1           39                   3
7                                1           40                   3
8                                3           65                   3
9                                4           23                   3
10                               1           36                   3
11                               3           24                   3
12                               3           31                   3
13                               4           31                   3
14                               3           23                   3
15                               1           44                   3
16                               1           40                   3
17                               1           25                   3
18                               1           36                   3
19                               2           39                   3
20                               1           37                   3
21                               1           49                   1
22                               4           33                   3
23                               2           26                   3
24                               1           44                   3
25                               2           51                   3
26                               2           24                   3
27                               1           37                   3
28                               4           29                   3
29                               4           56                   3
..                             ...          ...                 ...
970                              3           33                   3
971                              4           42                   2
972                              1           37                   3
973                              3           29                   3
974                              2           23                   3
975                              4           34                   1
976                              2           32                   1
977                              4           68                   1
978                              2           25                   3
979                              4           35                   3
980                              2           22                   3
981                              3           28                   3
982                              3           30                   3
983                              3           25                   1
984                              1           34                   3
985                              3           42                   2